sem4/scripting_languages_L/lab4/file1.txt
sem4/scripting_languages_L/lab4/file1.txt
sem4/data_bases_L/Szkola 2024 Lista1 pon NP 15 Łuszczek.accdb
sem4/data_bases_L/Szkola 2024 Lista1 pon NP 15 Łuszczek.accdb
sem4/scripting_languages_L/The Maze
*.zip

"C:\Users\dziun\Documents\studia\sem5\DataBases_P\Data-Generator"