[submodule "sem5/DataBases_P/DatabaseDataFaker"]
	path = sem5/DataBases_P/DatabaseDataFaker
	url = https://github.com/Wasloso/DatabaseDataFaker.git
[submodule "sem5/DataBases_P/mongodb_datafaker"]
	path = sem5/DataBases_P/mongodb_datafaker
	url = https://github.com/Wasloso/mongodb_datafaker.git
[submodule "sem6/uni-cloud-development"]
	path = sem6/uni-cloud-development
	url = https://github.com/lmProgramming/uni-cloud-development.git
[submodule "sem6/CE_L/uni-SPA-JS"]
	path = sem6/CE_L/uni-SPA-JS
	url = https://github.com/Wasloso/uni-SPA-JS.git
[submodule "sem6/CE_L/uni-PWA-JS"]
	path = sem6/CE_L/uni-PWA-JS
	url = https://github.com/Wasloso/uni-PWA-JS
[submodule "sem6/GP_L/uni-MushroomHunt"]
	path = sem6/GP_L/uni-MushroomHunt
	url = https://github.com/Wasloso/uni-MushroomHunt.git
