@{
    ViewData["Title"] = "Home Page";
}

<div id="table-div">
    <label for="n">Enter elements number</label>
    <input type="number" id="n" name="n" placeholder="n" min="5" max="20">
    <button id="generate_button" onclick="generateTable(document.getElementById('n').value,document.getElementById('table'))">Generate</button>
    <button id="clear_button" onclick="clearElement(document.getElementById('table'))">Clear</button>
    <table id="table"></table>
</div>

<canvas class="drawingX small"></canvas>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat quidem saepe tenetur sit, eum blanditiis nihil fugit dicta id doloribus culpa veniam amet consectetur porro. Ratione consectetur earum incidunt. Rem!
    Recusandae quas rerum dignissimos asperiores. Error quisquam adipisci dolorem laudantium voluptas neque accusamus debitis suscipit quos sapiente animi blanditiis atque, consequuntur facere autem odio fugiat soluta molestias veritatis nisi doloremque?
    Incidunt nisi voluptas ratione recusandae nobis quas vero voluptatibus, facilis temporibus aspernatur ipsum nostrum nulla maiores quaerat dolorum ad quod tempora dolore neque! Unde et dignissimos odit nihil, recusandae modi. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni necessitatibus quis, ipsa hic consectetur harum eligendi nobis facere quaerat quisquam eveniet ab illum! Consectetur, totam iusto eveniet consequuntur adipisci voluptate!
    Quae facilis sapiente maxime dolorem enim, minima suscipit distinctio ab repellat? Quod obcaecati incidunt temporibus hic consequatur. Distinctio, accusamus minima. Minus quisquam quod accusamus exercitationem incidunt blanditiis eos reiciendis repudiandae.
    Eum, esse necessitatibus porro inventore exercitationem nihil quod harum cupiditate. Ipsum cum obcaecati ipsam ad expedita asperiores temporibus delectus sunt qui, totam dignissimos inventore commodi, corporis est, numquam et culpa.
    Perferendis, optio quod alias dolorum ratione explicabo voluptatem a eligendi accusamus vitae ut et voluptatum quidem illo tenetur maxime, nulla voluptas cum? Eligendi aspernatur magnam, deleniti itaque facilis sint labore.
    Minus soluta perferendis ipsa facere, omnis sint eligendi repellat esse quibusdam vitae et! Molestiae aspernatur unde blanditiis recusandae, neque amet aliquid. Exercitationem unde facilis qui dolor recusandae quo, fugit excepturi!
</p>
<canvas class="drawingX" style="position: absolute;top: 300px;left: 100px;"></canvas>
<canvas class="drawingX small" style="position: relative;top:100px;"></canvas>
<p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut, magnam. Repudiandae perspiciatis cum eveniet sed magnam voluptatibus necessitatibus, eligendi veritatis error veniam! Dolore, facere dolorem maxime laborum voluptate eaque consectetur.
    Maxime minima ea, tempora autem amet inventore quae labore blanditiis adipisci magni mollitia reprehenderit deserunt, cum eveniet? Assumenda ab odio rem vitae ipsam eligendi suscipit illo! Incidunt minima error aspernatur.
    Eaque, dolore explicabo natus sapiente blanditiis fugit ea ex, error tenetur, beatae sed animi? Corrupti aliquam quasi fuga quas debitis est culpa minus odio, quae alias dolores repudiandae aliquid veniam!
    In neque alias excepturi ut odit, assumenda aut aperiam, quis, fugiat repudiandae quia debitis tenetur dolores nostrum nobis placeat necessitatibus quaerat laudantium fugit at vel! Blanditiis quam nesciunt aperiam incidunt!
    Qui velit, repellat atque vitae nemo unde sunt aliquid nobis blanditiis in corrupti facilis autem labore minus nisi laboriosam vel delectus esse, quo doloribus? Nulla omnis praesentium temporibus illum asperiores.
    Ipsam itaque unde error, accusamus a veniam inventore dicta facilis quas ad officiis nesciunt iusto repellendus suscipit, esse sunt. Eos qui accusamus recusandae doloribus aspernatur culpa placeat laudantium est nihil!
    Ipsa magni quas voluptates tenetur explicabo autem officia, laudantium molestiae amet veritatis. Ipsa eum quaerat, culpa tempora, laudantium, eaque facere praesentium ratione sint ab nulla. Tenetur obcaecati facilis fugit rem.
    Cupiditate odit molestiae sit sapiente maxime tempora iusto, explicabo est repellat saepe dolore, deserunt obcaecati, labore recusandae repudiandae magni magnam vero eius amet ducimus fugit porro. Tempore iste at laboriosam.
    Nesciunt dolorum amet repellat voluptas recusandae, aut repudiandae dolorem excepturi atque similique blanditiis. Excepturi doloremque nihil vitae dolore facere quaerat dicta non molestiae iusto? Necessitatibus iste consequuntur aperiam esse ipsum.
    Illo at error numquam vitae iste molestiae officiis provident, perferendis minima reprehenderit ullam praesentium temporibus quas. Vero accusantium corrupti natus, maxime commodi quasi nostrum numquam labore veritatis, nam distinctio sunt!
</p>
<canvas class="drawingX" style="position: fixed;top: 50%;right: 0px;width: 50px;height: 100;"></canvas>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Et placeat amet aspernatur quis pariatur! Ducimus quidem et tempora doloribus impedit eum, obcaecati soluta provident. Excepturi delectus voluptate aliquid ipsam esse.
    Voluptate aperiam illo, totam autem, ipsa officiis reiciendis rem ratione ut consectetur at quae, inventore reprehenderit facere? Eligendi ducimus, odio pariatur quis autem quam expedita officia blanditiis possimus nemo nisi.
    Blanditiis odio earum, temporibus deserunt eum labore impedit optio ratione nobis necessitatibus error explicabo vel magnam libero fugit ullam quis officiis animi saepe sequi rem. Soluta nostrum voluptatibus exercitationem pariatur.
    Eligendi, obcaecati ipsam pariatur quaerat, laboriosam necessitatibus eos, vero magni beatae iste optio. Quod minus fuga perferendis doloribus distinctio, illum blanditiis dolor quasi ut eveniet sunt ipsa velit consectetur a.
    Repellat quis facilis facere modi ratione porro sit, aliquam culpa! Rerum ipsam sed enim aliquam tenetur quas ab modi molestias ullam, odit numquam soluta vero. Id perspiciatis corrupti dolor obcaecati.
    Inventore alias magnam accusamus iste, minus ullam culpa nihil earum ea impedit veritatis libero doloribus cumque fugit a nobis, sit placeat repellendus error officiis sunt quos dolorum facere! Asperiores, incidunt.
    Saepe, veritatis assumenda laborum doloribus explicabo, id aperiam porro illum, impedit dolores consectetur ad optio minus est neque quod architecto quis earum. Odio rerum eligendi nostrum et nemo facilis placeat.
    Eveniet reiciendis molestiae sapiente! Error reprehenderit placeat nemo, iusto ullam minus pariatur. Minus fugiat maxime nulla voluptates illo sed, minima blanditiis saepe alias repudiandae soluta odio corrupti dolorem similique ipsum?
    Facere quasi, quidem suscipit animi et rerum amet sint adipisci inventore alias aperiam nesciunt placeat nam nisi pariatur necessitatibus dicta. Non quas laboriosam saepe sint atque ad tempore suscipit tempora!
    Ab, id! Fugiat aliquam eum labore corrupti quos rem totam soluta ad error aperiam quia reiciendis sapiente assumenda, architecto quo quod. Obcaecati consequatur ullam corporis repellendus aperiam a ex labore?
</p>
<script src="script.js"></script>
